<template>
  <div class="about">
    <br />
    <!-- Page Title -->
    <h1 class="text-light">{{ pageTitle }}</h1>
    <br />

    <!-- Creates Container -->
    <b-container fluid="xl">
      <!-- Creates First row for summary info -->
      <b-row align-v="stretch">
        <!-- Small empy column left side -->
        <b-col md="2"> </b-col>

        <!-- Main center column -->
        <b-col md="8">
          <SummaryCard
            :summarytext="servicesSummary"
            :summaryTitle="serviceTitle"
          />
        </b-col>

        <!-- Small empy column left side -->
        <b-col md="2"> </b-col>
      </b-row>

      <!-- Row for services cards -->
      <b-row align-v="stretch">
        <!-- Create left side half size column -->
        <b-col md="6">
          <div v-for="serv in serviceArray2" :key="serv.name">
            <!-- Create service card with servicearray2 data -->
            <ServiceCard :service="serv" />
          </div>
        </b-col>

        <!-- Create Right side half size column -->
        <b-col md="6">
          <div v-for="serv in serviceArray1" :key="serv.name">
            <!-- Create service card with servicearray1 data -->
            <ServiceCard :service="serv" />
          </div>
        </b-col>
      </b-row>
    </b-container>
  </div>
</template>

<script>
// @ is an alias to /src
// Imports vue components
import ServiceCard from "@/components/ServiceCard.vue";
import SummaryCard from "@/components/SummaryCard.vue";

export default {
  name: "Home",
  components: {
    ServiceCard,
    SummaryCard
  },
  data() {
    return {
      // Creates variables to fill with data from external json.
      loading: false,
      pageTitle: null,
      serviceTitle: null,
      servicesSummary: null,
      serviceArray1: null,
      serviceArray2: null
    };
  },
  created() {
    // When the view is created, fetch the json data
    this.fetchData();
  },
  watch: {
    $route: "fetchData"
  },
  methods: {
    // fetches external Json
    fetchData() {
      this.loading = true;
      // fetch json from url and parse it, then send it too setResults()
      fetch("https://robclark.info/json/services.json")
        .then(response => response.json())
        .then(json => this.setResults(json));
    },
    // Sets data variables from the parsed json
    setResults(results) {
      this.pageTitle = results.pageTitle;
      this.serviceTitle = results.serviceTitle;
      this.servicesSummary = results.servicesSummary;
      this.serviceArray1 = results.serviceArray1;
      this.serviceArray2 = results.serviceArray2;
    }
  }
};
</script>
