<template>
  <div class="Home">
    <br />
    <!-- Sets title from titlemsg prop -->
    <h1 class="text-light">{{ title }}</h1>
    <br />

    <!-- Creates bootstrap container that goes 100%width after xl size -->
    <b-container fluid="xl">
      <!-- First Row -->
      <b-row align-v="stretch">
        <!-- Left Column -->
        <b-col md="5">
          <!-- Creates Information Card and passes through infoArray prop filled with JSON array -->
          <InfoCard :infoArray="infoArray" />
        </b-col>

        <!-- Right Column -->
        <b-col md="7">
          <!-- Creates Summary Card -->
          <SummaryCard :summarytext="summary" summaryTitle="Summary" />
        </b-col>
      </b-row>

      <!-- Second Row -->
      <b-row align-v="stretch">
        <!-- Left Column -->
        <b-col md="5">
          <!-- Creates Education card. -->
          <EducationCard :eduArray="education" />

          <!-- Creates the Skills card. -->
          <SkillsCard :skillsArray="skills" />
        </b-col>

        <!-- Right column -->
        <b-col md="7">
          <!-- Creates the Experience card. -->
          <ExperienceCard :workArray="work" />
        </b-col>
      </b-row>
    </b-container>
  </div>
</template>

<script>
// @ is an alias to /src
// Imports vue components
import InfoCard from "@/components/InfoCard.vue";
import EducationCard from "@/components/EducationCard.vue";
import SkillsCard from "@/components/SkillsCard.vue";
import SummaryCard from "@/components/SummaryCard.vue";
import ExperienceCard from "@/components/ExperienceCard.vue";

export default {
  name: "Home",
  components: {
    InfoCard,
    EducationCard,
    SkillsCard,
    SummaryCard,
    ExperienceCard
  },
  data() {
    return {
      // Creates variables to fill with data from external json.
      loading: false,
      title: null,
      summary: null,
      skills: null,
      education: null,
      work: null,
      infoArray: null
    };
  },
  created() {
    // When the view is created, fetch the json data
    this.fetchData();
  },
  watch: {
    $route: "fetchData"
  },
  methods: {
    // fetches external Json
    fetchData() {
      this.loading = true;
      // fetch json from url and parse it, then send it too setResults()
      fetch("https://robclark.info/json/skills.json")
        .then(response => response.json())
        .then(json => this.setResults(json));
    },
    // Sets data variables from the parsed json
    setResults(results) {
      this.title = results.title;
      this.summary = results.summary;
      this.skills = results.skills;
      this.education = results.education;
      this.work = results.work;
      this.infoArray = results.infoarray;
    }
  }
};
</script>
