<template>
  <div class="EducationCard">
    <!-- Creates Education card. -->
    <b-card
      title="Education"
      class="text-center bg-secondary text-light shadow"
    >
      <b-card-text class="text-left">
        <!-- Gets data from prop array, and loops through the returned array to create as many sections as needed -->
        <div v-for="edu in eduArray" :key="edu.cert">
          <hr />
          <h4>
            <b>{{ edu.cert }}</b>
          </h4>
          <h6>
            {{ edu.school }} | <i>{{ edu.date }}</i>
          </h6>
          <p>{{ edu.paragraph }}</p>
        </div>
      </b-card-text>
    </b-card>
    <br />
  </div>
</template>

<script>
export default {
  name: "EducationCard",
  // Creates props that will be filled with parsed Json text and arrays from external file
  props: {
    eduArray: Array
  }
};
</script>
