<template>
  <div class="ExperienceCard">
    <!-- Cretes the Experience card. -->
    <b-card title="Experience" class="text-center bg-light shadow">
      <b-card-text class="text-left">
        <!-- Gets data from workArray, loops through loops through the array and returns results. -->
        <div v-for="work in workArray" :key="work.jobtitle">
          <hr />
          <h4>{{ work.jobtitle }}</h4>
          <h6>
            <b>{{ work.company }}</b> | <i>{{ work.date }}</i>
          </h6>
          <!-- loops through inner paragraphs array to create as many paragraphs as neccissary. -->
          <p v-for="para in work.paragraphs" :key="para.paragraph">
            {{ para.paragraph }}
          </p>
        </div>
      </b-card-text>
    </b-card>
    <br />
  </div>
</template>

<script>
export default {
  name: "ExperienceCard",
  props: {
    workArray: Array
  }
};
</script>
