<template>
  <div class="InfoCard">
    <!-- Creates Information Card -->
    <b-card
      title="Information"
      class="text-center bg-secondary text-light shadow"
    >
      <b-card-text>
        <hr />
        <!-- My name hard coded because my name doesn't Change -->
        <h4>Rob Clark</h4>

        <!-- Loops through array of info about me -->
        <p v-for="info in infoArray" :key="info.type">
          <!-- Sets icon for each array row -->
          <b-icon :icon="info.icon" variant="light"></b-icon>
          <!-- Builds info text about me -->
          <b> {{ info.type }}</b
          >: {{ info.info }}
        </p>
      </b-card-text>
    </b-card>
    <br />
  </div>
</template>

<script>
export default {
  name: "InfoCard",
  props: {
    // Creates props that will be filled with parsed Json text and arrays from external file
    infoArray: Array
  }
};
</script>
