<template>
  <div class="ServiceCard">
    <!-- insets the service name into the card title -->
    <b-card
      :title="service.name + ' | ' + service.type"
      class="text-center bg-secondary text-light shadow"
    >
      <hr />
      <!-- Gets data from summarytext string prop. -->
      <b-card-text class="text-left">
        <!-- prints the descrition of the serice -->
        <h5>
          <b>{{ service.shortDescription }}</b>
        </h5>
        <!-- loops through all the paragraphs about the service -->
        <p v-for="para in service.paragraphs" :key="para.paragraph">
          {{ para.paragraph }}
        </p>
      </b-card-text>
    </b-card>
    <br />
  </div>
</template>

<script>
export default {
  name: "ServiceCard",
  props: {
    // Prop for passing the servie Array Object
    service: Object
  }
};
</script>
