<template>
  <div class="SkillsCard">
    <!-- Cretes the Skills card. -->
    <b-card title="Skills" class="text-center bg-secondary text-light shadow">
      <b-card-text class="text-left">
        <hr />
        <ul class="skills list">
          <!-- Gets data from skillsArray prop, and lists all items in the array. -->
          <li v-for="item in skillsArray" :key="item.paragraph">
            {{ item.paragraph }}
          </li>
        </ul>
      </b-card-text>
    </b-card>
    <br />
  </div>
</template>

<script>
export default {
  name: "SkillsCard",
  // Creates props that will be filled with parsed Json text and arrays from external file
  props: {
    skillsArray: Array
  }
};
</script>

<!-- makes list items have circles and be spaced apart -->
<style scoped>
ul {
  list-style-type: circle;
  padding: 0;
}
li {
  margin: 0 10px;
}
</style>
