<template>
  <div class="SummaryCard">
    <!-- adds prop summaryTitle to the cards title -->
    <b-card :title="summaryTitle" class="text-center bg-light shadow">
      <hr />
      <!-- Gets data from summarytext string prop. -->
      <b-card-text class="text-left">{{ summarytext }}</b-card-text>
    </b-card>
    <br />
  </div>
</template>

<script>
export default {
  name: "SummaryCard",
  props: {
    // Prop for the summary text
    summarytext: String,
    // Prop for the summary Title
    summaryTitle: String
  }
};
</script>
