<template>
  <div id="app" class="bg-secondary">
    <!-- Creates Navigation links -->

    <b-navbar toggleable="sm" type="dark" variant="dark" sticky="true" fixed="bottom" class="shadow">
      <b-navbar-toggle target="nav-main-collapse"></b-navbar-toggle>
      <b-collapse id="nav-main-collapse" is-nav>
        <b-navbar-nav  style="width: 100%;" align="center">
          <b-nav-item to="/">
            <b-button variant="secondary">Robs Resume</b-button>
          </b-nav-item>
          <b-nav-item to="/about">
            <b-button variant="info">About this Website</b-button>
          </b-nav-item>
        </b-navbar-nav>
      </b-collapse>
    </b-navbar>

    <!-- Render the matched component for the given navigation path -->
    <router-view class="bg-info" />
  </div>
</template>

<style>
#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
}

#nav {
  padding: 30px;
  color: #f8f9fa;
}

#nav a {
  font-weight: bold;
  color: #f8f9fa;
}

#nav a:hover {
  font-weight: bold;
  color: #1fcde7;
}

#nav a.router-link-exact-active {
  text-decoration: underline;
}
</style>
